.places {
    width: 100%;
    border: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    text-align: left;
    font-size: 30px;
}

article {
    display: inline-block;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    margin-top: 15px;
}

.row {
    margin-left: 23%;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
}

.information {
    align-self: center;
    height: 80px;
    width: 100%;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.max_guest,
.number_rooms,
.number_bathrooms {
    width: 100px;
    text-align: center;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 60px;
    min-width: 70px;
    height: 70px;
    font-size: 30px;
    margin-left: 15%;
    display: flex;
    position: absolute;
    justify-content: center;
    margin-left: 17%;
    margin-top: -3.3%;
}

.price_by_night p {
    margin-top: 16px;
}

.max_guest>p,
.number_rooms>p,
.number_bathrooms>p {
    margin-top: auto;
    margin-bottom: auto;
}

.guest_image {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background: url("../images/icon_group.png") no-repeat center;
}

.bed_image {
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    background: url("../images/icon_bed.png") no-repeat center;
}

.bath_image {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background: url("../images/icon_bath.png") no-repeat center;
}

.user>p {
    margin-top: 20px;
    margin-bottom: 0px;
}

.description>p {
    margin-top: 7px;
    margin-bottom: 0px;
}